body {
    background: whitesmoke;
  }  
  
  h1 {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: black;
    text-align: center;
    font-size: 125px;
    line-height: 100px;
}

  h2 {
    font-family: 'Shojumaru', cursive;
    color: blue;
    text-align: center;
    font-size: 45px;
    line-height: 80px;
  }

  p {
    font-family: 'Orbitron', sans-serif;
    color: red;
    background: whitesmoke;
    text-align: center;
    font-size: 55px;
    line-height: 80px;
  }

  header {
    position: static;
    padding: 12px 0;
    width: 100%;
    margin: 0 0 10px;
    overflow: auto;
    background-color: silver;
    border-bottom: 5px solid #4aaaa5;
  }

  /* footer */

footer {
    padding: 12px 0;
    font-size: 15px;
    background-color: silver;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 30px;
    text-align: center;
    color: white;
    border-top: 5px solid #4aaaa5;
  } 

